@import url("https://fonts.googleapis.com/css2?family=Karantina:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #e5c687;
  --color-accent: #2c8c99;
  --color-back: #121619;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Karantina", cursive;
  color: var(--color-primary);
  background: var(--color-back);
}

.game {
  width: 100%;
  height: 100%;
  max-width: 900px;
  max-height: 600px;
  display: flex;
  flex-direction: column;
}

header {
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

main {
  flex: 4;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
}

section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
}

.weapon {
  display: flex;
}

button {
  margin: 0.3rem 1rem;
  padding: 0 0.5rem;
  background: none;
  border: none;
  font-size: 4rem;
  color: var(--color-primary);
}

.player-hover button {
  cursor: pointer;
}

.player-hover button:hover,
#play:hover {
  box-shadow: 0 0 0 0.2rem var(--color-accent);
  border-radius: 0.2rem;
}

#play {
  display: none;
  cursor: pointer;
  font-size: 1.75rem;
  margin: 1rem;
  padding: 0.2rem 1rem;
}

.result i {
  display: none;
  font-size: 4rem;
}

.choose {
  box-shadow: 0 0 0 0.2rem var(--color-accent);
  border-radius: 0.2rem;
}

footer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  font-size: 1.5rem;
  align-content: center;
  flex:1;
}

@media (min-width: 768px), (orientation: landscape) {
  main {
    flex-direction: row;
  }

  .player .weapon {
    order: 1;
  }

  .weapon {
    flex-direction: column;
  }
}
